@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.min.css";

.my-table-img {
    width: 150px;
}

.my-error-message {
    margin-top: -1rem;
    margin-bottom: 1rem;
}

.my-list-technologies {
    list-style-type: none;
}